# cloudflare
.cloudflare

# node
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide
project.inlang/cache/

# AI
/.mcp.json
# This is because the blogposts are dynamically generated
/src/lib/data/blogposts.ts

/.agents
/.claude
/.junie
/.idea/junie.xml
