node_modules/
build/
.deployment/
.github/
.git/
.ssl/
.idea/
.svelte-kit/
CHANGELOG.md
CONTRIBUTING.md
TODO.md
README.md
.dockerignore
.gitignore
LICENSE
.env
.env.example
.editorconfig
.idea
coverage*
